Flask==0.10.1
Flask-Restless==0.15.2-dev
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
SQLAlchemy-Utils==0.29.5
Tempita==0.5.2
Werkzeug==0.9.6
decorator==3.4.0
itsdangerous==0.24
mimerender==0.5.5
pbr==0.10.7
python-dateutil==2.4.0
python-mimeparse==0.1.4
six==1.9.0
sqlalchemy-migrate==0.9.4
sqlparse==0.1.14
trueskill==0.4.3
wsgiref==0.1.2
